In [2]:
import pandas as pd

# Load the first dataset
df1 = pd.read_csv(r"C:\Users\Kriwe\OneDrive\Documents\CodeKY Projects\CodeKY DA\Capstone\Datasets\kindle_data-v2.csv")

# Display the first few rows to understand its structure
df1.head()

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
0,B00TZE87S4,Adult Children of Emotionally Immature Parents...,Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYp...,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships
1,B08WCKY8MB,"From Strength to Strength: Finding Success, Ha...",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9E...,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,False,6,False,False,False,2022-02-15,Parenting & Relationships
2,B09KPS84CJ,Good Inside: A Guide to Becoming the Parent Yo...,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6...,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,False,6,False,True,False,2022-09-13,Parenting & Relationships
3,B07S7QPG6J,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZ...,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,True,6,False,True,False,2020-02-25,Parenting & Relationships
4,B00N6PEQV0,The Seven Principles for Making Marriage Work:...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+w...,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,False,6,False,False,False,2015-05-05,Parenting & Relationships

In [3]:
# Load the second dataset
df2 = pd.read_csv(r"C:\Users\Kriwe\OneDrive\Documents\CodeKY Projects\CodeKY DA\Capstone\Datasets\book1-100k.csv")

# Display the first few rows to understand its structure
df2.head()

,Id,Name,RatingDist1,pagesNumber,RatingDist4,RatingDistTotal,PublishMonth,PublishDay,Publisher,CountsOfReview,PublishYear,Language,Authors,Rating,RatingDist2,RatingDist5,ISBN,RatingDist3
0,1,Harry Potter and the Half-Blood Prince (Harry ...,1:9896,652,4:556485,total:2298124,16,9,Scholastic Inc.,28062,2006,eng,J.K. Rowling,4.57,2:25317,5:1546466,NaN,3:159960
1,2,Harry Potter and the Order of the Phoenix (Har...,1:12455,870,4:604283,total:2358637,1,9,Scholastic Inc.,29770,2004,eng,J.K. Rowling,4.50,2:37005,5:1493113,0439358078,3:211781
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,1:108202,309,4:1513191,total:6587388,1,11,Scholastic Inc,75911,2003,eng,J.K. Rowling,4.47,2:130310,5:4268227,NaN,3:567458
3,4,Harry Potter and the Chamber of Secrets (Harry...,1:11896,352,4:706082,total:2560657,1,11,Scholastic,244,2003,eng,J.K. Rowling,4.42,2:49353,5:1504505,0439554896,3:288821
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,1:10128,435,4:630534,total:2610317,1,5,Scholastic Inc.,37093,2004,eng,J.K. Rowling,4.57,2:24849,5:1749958,043965548X,3:194848

In [4]:
# Basic info about both datasets
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133102 entries, 0 to 133101
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   asin               133102 non-null  object
 1   title              133102 non-null  object
 2   author             132677 non-null  object
 3   soldBy             123869 non-null  object
 4   imgUrl             133102 non-null  object
 5   productURL         133102 non-null  object
 6   stars              133102 non-null  float64
 7   reviews            133102 non-null  int64
 8   price              133102 non-null  float64
 9   isKindleUnlimited  133102 non-null  bool
 10  category_id        133102 non-null  int64
 11  isBestSeller       133102 non-null  bool
 12  isEditorsPick      133102 non-null  bool
 13  isGoodReadsChoice  133102 non-null  bool
 14  publishedDate      84086 non-null   object
 15  category_name      133102 non-null  object
dtypes: bool(4), float64(2), int64(2), object(8)
memory usage: 12.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58292 entries, 0 to 58291
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               58292 non-null  int64
 1   Name             58292 non-null  object
 2   RatingDist1      58292 non-null  object
 3   pagesNumber      58292 non-null  int64
 4   RatingDist4      58292 non-null  object
 5   RatingDistTotal  58292 non-null  object
 6   PublishMonth     58292 non-null  int64
 7   PublishDay       58292 non-null  int64
 8   Publisher        57798 non-null  object
 9   CountsOfReview   58292 non-null  int64
 10  PublishYear      58292 non-null  int64
 11  Language         20294 non-null  object
 12  Authors          58292 non-null  object
 13  Rating           58292 non-null  float64
 14  RatingDist2      58292 non-null  object
 15  RatingDist5      58292 non-null  object
 16  ISBN             57746 non-null  object
 17  RatingDist3      58292 non-null  object
dtypes: float64(1), int64(6), object(11)
memory usage: 8.0+ MB

In [6]:
df1.dropna(inplace=True)

In [7]:
df2.dropna(inplace=True)

In [10]:
print(df1.columns)

Index(['asin', 'title', 'author', 'soldBy', 'imgUrl', 'productURL', 'stars',
       'reviews', 'price', 'isKindleUnlimited', 'category_id', 'isBestSeller',
       'isEditorsPick', 'isGoodReadsChoice', 'publishedDate', 'category_name'],
      dtype='object')

In [11]:
# Convert 'publishedDate' to a datetime format, handling errors
df1['publishedDate'] = pd.to_datetime(df1['publishedDate'], errors='coerce')

# Extracting the year from 'publishedDate' and storing it in 'PublishYear'
df1['PublishYear'] = df1['publishedDate'].dt.year

# Display the first few rows to verify
print(df1[['publishedDate', 'PublishYear']].head())

  publishedDate  PublishYear
0    2015-06-01         2015
1    2022-02-15         2022
2    2022-09-13         2022
3    2020-02-25         2020
4    2015-05-05         2015

In [13]:
print(df1.isnull().sum())
print(df2.isnull().sum())

asin                 0
title                0
author               0
soldBy               0
imgUrl               0
productURL           0
stars                0
reviews              0
price                0
isKindleUnlimited    0
category_id          0
isBestSeller         0
isEditorsPick        0
isGoodReadsChoice    0
publishedDate        0
category_name        0
PublishYear          0
dtype: int64
Id                 0
Name               0
RatingDist1        0
pagesNumber        0
RatingDist4        0
RatingDistTotal    0
PublishMonth       0
PublishDay         0
Publisher          0
CountsOfReview     0
PublishYear        0
Language           0
Authors            0
Rating             0
RatingDist2        0
RatingDist5        0
ISBN               0
RatingDist3        0
dtype: int64

In [15]:
df1['title'].head(15) 
df2['Name'].head(15)

1     Harry Potter and the Order of the Phoenix (Har...
3     Harry Potter and the Chamber of Secrets (Harry...
4     Harry Potter and the Prisoner of Azkaban (Harr...
6     Harry Potter Boxed Set, Books 1-5 (Harry Potte...
7     Unauthorized Harry Potter Book Seven News: "Ha...
8          Harry Potter Collection (Harry Potter, #1-6)
9     The Ultimate Hitchhiker's Guide: Five Complete...
10    The Ultimate Hitchhiker's Guide to the Galaxy ...
11    The Hitchhiker's Guide to the Galaxy (Hitchhik...
12    The Ultimate Hitchhiker's Guide (Hitchhiker's ...
13                 A Short History of Nearly Everything
14                          Bill Bryson's African Diary
15    Bryson's Dictionary of Troublesome Words: A Wr...
16                               In a Sunburned Country
17    I'm a Stranger Here Myself: Notes on Returning...
Name: Name, dtype: object

In [16]:
import re

# Clean up df1's titles by removing anything in parentheses
df1['cleaned_title'] = df1['title'].apply(lambda x: re.sub(r'\(.*\)', '', x).strip())

# Clean up df2's titles removing anything in parentheses
df2['cleaned_name'] = df2['Name'].apply(lambda x: re.sub(r'\(.*\)', '', x).strip())

# Check the first 15 cleaned titles for both datasets
print(df1['cleaned_title'].head(15))
print(df2['cleaned_name'].head(15))

0     Adult Children of Emotionally Immature Parents...
1     From Strength to Strength: Finding Success, Ha...
2     Good Inside: A Guide to Becoming the Parent Yo...
3                Everything I Know About Love: A Memoir
4     The Seven Principles for Making Marriage Work:...
5                            The Glass Castle: A Memoir
7     Never Enough: When Achievement Culture Becomes...
8     Unmasking Autism: Discovering the New Faces of...
9     What Happened to You?: Conversations on Trauma...
13                The Daddy Diaries: The Year I Grew Up
14    The Cruise: The brand new feel good, funny rea...
15        You Could Make This Place Beautiful: A Memoir
16    The Whole-Brain Child: 12 Revolutionary Strate...
18    The Girls Are Gone: The True Story of Two Sist...
20                                 No More Mr. Nice Guy
Name: cleaned_title, dtype: object
1             Harry Potter and the Order of the Phoenix
3               Harry Potter and the Chamber of Secrets
4              Harry Potter and the Prisoner of Azkaban
6                     Harry Potter Boxed Set, Books 1-5
7     Unauthorized Harry Potter Book Seven News: "Ha...
8                               Harry Potter Collection
9     The Ultimate Hitchhiker's Guide: Five Complete...
10        The Ultimate Hitchhiker's Guide to the Galaxy
11                 The Hitchhiker's Guide to the Galaxy
12                      The Ultimate Hitchhiker's Guide
13                 A Short History of Nearly Everything
14                          Bill Bryson's African Diary
15    Bryson's Dictionary of Troublesome Words: A Wr...
16                               In a Sunburned Country
17    I'm a Stranger Here Myself: Notes on Returning...
Name: cleaned_name, dtype: object

In [18]:
merged_df = pd.merge(df1, df2, left_on='cleaned_title', right_on='cleaned_name', how='inner')
print(merged_df.head())

         asin                                              title  \
0  B004C438CW                               No More Mr. Nice Guy
1  B004MYFQ3Q  Love and Respect: The Love She Most Desires; T...
2  B003OYIA9M  The Spirit Catches You and You Fall Down: A Hm...
3  B01NBWHWIN  The Classic Fairy Tales (Second Edition) (Nort...
4  B007MAXHUG  The Game: Penetrating the Secret Society of Pi...

                  author                    soldBy  \
0          Robert Glover   Amazon.com Services LLC
1  Emerson Eggerichs PhD  HarperCollins Publishing
2           Anne Fadiman                 Macmillan
3            Maria Tatar    W. W. Norton & Company
4           Neil Strauss  HarperCollins Publishers

                                              imgUrl  \
0  https://m.media-amazon.com/images/I/81cjF9I+oN...
1  https://m.media-amazon.com/images/I/81uFCkI4Ak...
2  https://m.media-amazon.com/images/I/41hmS7wl8Q...
3  https://m.media-amazon.com/images/I/91xuKtH0XS...
4  https://m.media-amazon.com/images/I/71-YHmfV6n...

                             productURL  stars  reviews  price  \
0  https://www.amazon.com/dp/B004C438CW    4.6        0   9.99
1  https://www.amazon.com/dp/B004MYFQ3Q    4.7        0  15.99
2  https://www.amazon.com/dp/B003OYIA9M    4.6        0  11.99
3  https://www.amazon.com/dp/B01NBWHWIN    4.6        0  12.99
4  https://www.amazon.com/dp/B007MAXHUG    4.4        0   1.99

   isKindleUnlimited  ...  CountsOfReview  PublishYear_y  Language  \
0              False  ...             570           2003       eng
1              False  ...            1375           2004       eng
2               True  ...            4244           1998       eng
3              False  ...              97           1998       eng
4              False  ...            1607           2005     en-US

             Authors Rating RatingDist2  RatingDist5        ISBN  RatingDist3  \
0   Robert A. Glover   4.06       2:521       5:4029  0762415339       3:1785
1  Emerson Eggerichs   4.18      2:1852      5:21102  1591451876       3:6441
2       Anne Fadiman   4.17      2:2342      5:28194  0374525641       3:9934
3        Maria Tatar   4.29        2:47       5:1399  0393972771        3:424
4       Neil Strauss   3.74      2:2033       5:6621  0060554738       3:5974

                                        cleaned_name
0                               No More Mr. Nice Guy
1  Love and Respect: The Love She Most Desires; T...
2  The Spirit Catches You and You Fall Down: A Hm...
3                            The Classic Fairy Tales
4  The Game: Penetrating the Secret Society of Pi...

[5 rows x 37 columns]

In [19]:
# Check for missing data
print(merged_df.isnull().sum())

# Check for duplicates
duplicates = merged_df.duplicated()
print(f'Duplicates: {duplicates.sum()}')

asin                 0
title                0
author               0
soldBy               0
imgUrl               0
productURL           0
stars                0
reviews              0
price                0
isKindleUnlimited    0
category_id          0
isBestSeller         0
isEditorsPick        0
isGoodReadsChoice    0
publishedDate        0
category_name        0
PublishYear_x        0
cleaned_title        0
Id                   0
Name                 0
RatingDist1          0
pagesNumber          0
RatingDist4          0
RatingDistTotal      0
PublishMonth         0
PublishDay           0
Publisher            0
CountsOfReview       0
PublishYear_y        0
Language             0
Authors              0
Rating               0
RatingDist2          0
RatingDist5          0
ISBN                 0
RatingDist3          0
cleaned_name         0
dtype: int64
Duplicates: 0

In [20]:
# Filtering the dataset to only include books that are part of the Kindle Unlimited program
kindle_unlimited_books = merged_df[merged_df['isKindleUnlimited'] == True]

# Filter by a specific genre or price range
high_priced_books = merged_df[merged_df['price'] > 20]

In [23]:
print(merged_df[['title', 'author']].head(10))

                                               title                 author
0                               No More Mr. Nice Guy          Robert Glover
1  Love and Respect: The Love She Most Desires; T...  Emerson Eggerichs PhD
2  The Spirit Catches You and You Fall Down: A Hm...           Anne Fadiman
3  The Classic Fairy Tales (Second Edition) (Nort...            Maria Tatar
4  The Game: Penetrating the Secret Society of Pi...           Neil Strauss
5  The Drama of the Gifted Child: The Search for ...           Alice Miller
6                            Women Who Love Too Much          Robin Norwood
7                                  Famous Last Words        C.W. Farnsworth
8          The Complete Guide to Asperger's Syndrome     Dr Anthony Attwood
9                        The New Strong-Willed Child        James C. Dobson

In [24]:
# Check the shape (number of rows, number of columns)
print(merged_df.shape)

(1585, 37)

In [25]:
# Get summary statistics for the numerical columns
print(merged_df.describe())

             stars        reviews        price  category_id  \
count  1585.000000    1585.000000  1585.000000  1585.000000
mean      4.462208    2166.157729    13.215716    14.688959
min       0.000000       0.000000     0.000000     1.000000
25%       4.400000       0.000000     7.990000     9.000000
50%       4.500000     268.000000    10.990000    14.000000
75%       4.600000    1367.000000    13.990000    21.000000
max       5.000000  142456.000000   160.000000    31.000000
std       0.321324    7068.959627    14.267596     7.964317

                       publishedDate  PublishYear_x            Id  \
count                           1585    1585.000000   1585.000000
mean   2012-02-25 17:46:35.962145024    2011.651735  41621.181703
min              1970-01-02 00:00:00    1970.000000     21.000000
25%              2007-05-31 00:00:00    2007.000000  12545.000000
50%              2011-12-07 00:00:00    2011.000000  34296.000000
75%              2018-05-30 00:00:00    2018.000000  72536.000000
max              2023-10-01 00:00:00    2023.000000  99947.000000
std                              NaN       7.722775  31286.817369

       pagesNumber  PublishMonth   PublishDay  CountsOfReview  PublishYear_y  \
count  1585.000000   1585.000000  1585.000000     1585.000000    1585.000000
mean    381.946372     11.429653     6.388013     1145.005047    2000.664353
min       0.000000      1.000000     1.000000        0.000000    1940.000000
25%     240.000000      1.000000     4.000000       37.000000    1999.000000
50%     332.000000      9.000000     6.000000      155.000000    2003.000000
75%     464.000000     20.000000     9.000000      650.000000    2005.000000
max    4736.000000     31.000000    12.000000    87685.000000    2019.000000
std     247.369972     10.184175     3.407543     4075.540206       7.688598

            Rating
count  1585.000000
mean      3.966959
min       2.470000
25%       3.830000
50%       3.980000
75%       4.130000
max       4.640000
std       0.240139